{% extends 'layouts/app.html' %}

{% block title %}CMDI Converter{% endblock %}
{% block meta_description %}Upload xls file to generate cmdi meta data{% endblock %}

{% block body %}
     <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Do you need to create cmdi files?</h1>
      <h3 class="text-muted">
        Choose and proceed to the section of your interest
      </h3>
    </div>
    <div class="row text-center">
       <div class="col-lg-3">
       </div>
      <div class="col-lg-3">
        <a href="{{  url_for('page.upload') }}"><i class="fa fa-fw fa-4x fa-upload text-primary"></i></a>
        <h2>Upload</h2>
        <p class="text-muted">Upload Excel file to convert.</p>
      </div>
      <div class="col-lg-3">
        <a href="{{  url_for('page.downloads') }}"><i class="fa fa-fw fa-4x fa-download text-primary"></i></a>
        <h2>Download</h2>
        <p class="text-muted">Get your converted files.</p>
      </div>
        <div class="col-lg-3">
       </div>
    </div>
  </div>
{% endblock %}
